<!-- your_app_name/templates/generate_playlist.html -->

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Генерація плейлиста</title>
    <script>
        window.onload = function() {
            // Зберегти стан, щоб при натисканні "Назад" перенаправляти на головну сторінку
            window.history.pushState(null, null, window.location.href);

            window.onpopstate = function() {
                // Перенаправити на головну сторінку при натисканні "Назад"
                window.location.href = '{% url "index" %}';
            };
        };
    </script>
</head>
<body>
    <h1>Генерація плейлиста</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Створити плейлист</button>
    </form>
</body>
</html>

