<!-- your_app_name/templates/playlist.html -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Наші плейлисти</title>
</head>
<body>
    <h1>Наші плейлисти</h1>
    
    <ul>
        <li><strong>Плейлист Володі</strong>: <a href="#">Посилання на плейлист</a></li>
        <li><strong>Плейлист Яни</strong>: <a href="#">Посилання на плейлист</a></li>
        <li><strong>Плейлист Оленки</strong>: <a href="#">Посилання на плейлист</a></li>
        <li><strong>Плейлист Антона</strong>: <a href="#">Посилання на плейлист</a></li>
    </ul>
</body>
</html>
